@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2 style="font-weight:bold"> Aluno e aplicação:</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <br/>
        <h3>Nome e número de aluno: Pedro Filipe Alves Tapadas nº:18781</h3>
        <h3>Curso: Engenharia infomática</h3>
        <h3>Disciplina: Tecnologias da internet II</h3>
        <br/>
        <p>Esta aplicação tem como objectivo apresentar uma lista de produtos da loja "Make Amazing Things" e permitir a compra destes mesmos produtos</p>
    </div>
</div>