@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2 style="font-weight:bold">Contas:</h2>
    
</hgroup>
<div>
    <br />
    <h4 style="font-weight:bold">Administrador:</h4>
    <h5>email: admin@mail.pt</h5>
    <h5>password: 123Qwe.</h5>
    <br />
    <h4 style="font-weight:bold">Utilizador:</h4>
    <h5>email: utilizador@mail.ipt</h5>
    <h5>password: 123Qwe.</h5>
</div>